{% extends "blog/home.html" %}

{% block order %}
    <div class="dropdown-menu" aria-labelledby="ordinaper">
        <a class="dropdown-item" href="{% url 'user-posts' view.kwargs.username '-date_posted' %}">Data</a>
        <a class="dropdown-item" href="{% url 'user-posts' view.kwargs.username '-reputazione' %}">Utilità</a>
    </div>
{% endblock order %}

{% block descrizione %}
    <h2 class="mb-3">Post di {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
{% endblock descrizione %}